.slider {
  position: relative;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image__slider-image {
  width: 200px;
  height: 200px;
  z-index: 1;
  margin: 0.5rem 2rem;
}

.slider__arrow {
  cursor: pointer;
  user-select: none;
  font-size: 50px;
}

.slider__image {
  opacity: 0;
  transition-duration: 1s ease;
}

.slider__image.slider__image--active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.05);
}

@media only screen and (max-width: 1080px) {
  .slider__image__slider-image {
    width: 150px;
    height: 150px;
  }
}
