.carditem {
  width: 47%;
  margin: 1rem 0;
  background-color: var(--color-blue);
  padding: 0.8rem;
  border-radius: 5px;
  transition: transform 600ms;
}

.carditem:hover {
  transform: scale(105%);
  transition: transform 600ms;
}

.carditem > div {
  margin: 0.5rem 0;
}

.carditem__project-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.carditem__desc {
  font-size: 1.2rem;
}

.carditem__tasks p {
  font-size: 1.1rem;
  font-weight: bold;
}

.carditem__tasks ul {
  margin-left: 1rem;
  font-size: 1rem;
}

.carditem__tasks ul li {
  margin: 0.5rem 0;
}

.carditem__technology span {
  font-weight: bold;
}

.carditem__source {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0;
}

.carditem__source > a {
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-green);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carditem__source i {
  font-size: 2rem;
  margin-left: 10px;
}

.carditem__note {
  font-style: italic;
  text-align: center;
  font-size: 0.8rem;
}

.carditem__note::before {
  content: "*";
  color: red;
}

@media only screen and (max-width: 1080px) {
  .carditem {
    width: 95%;
  }
}
